#!/bin/bash

# Create .env file for CI environment
cat > .env << EOL
API_GATEWAY_URL=__API_GATEWAY_URL__
COGNITO_USER_POOL_ID=__COGNITO_USER_POOL_ID__
COGNITO_APP_CLIENT_ID=__COGNITO_APP_CLIENT_ID__
WEB_APP_URL=__WEB_APP_URL__
EOL

# Make the file readable
chmod 644 .env